@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-5xl;
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
    h4 {
        @apply text-2xl;
    }
    h5 {
        @apply text-xl;
    }
    h6 {
        @apply text-lg;
    }

    .wysiwyg ul {
        list-style-type: disc;
        padding-left: 1rem;
    }

    @media screen and (min-width: 1024px) {
        .hero-bg-image {
            clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
        }
   }
}